@charset "utf-8";
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

p.comment {
    padding-top: 410px;
    display: none;
    font-size: 25px;
    color: #fff;
}

* > h2 {
    color: #aaa;
}

/* * > ul li:hover p.comment {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: rgba(0, 123, 255, 0.3);
} */

.bgColor {
    background: linear-gradient(#0f0f0f, #676767);
}

/* header */
#header {
    padding: 50px 0px;
    background: #000;
}

#header h1 {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

#header .gnb {
    padding: 0px 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .gnb li a {
    padding-top: 50px;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #fff;
}

/* banner */
#banner {
    padding: 50px 0px;
    height: 744px;
    position: relative;
    /* background: #707070; */
}

#banner h2 {
    padding-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-align: center;
}

#banner .ban {
    width: 100%;
    overflow: hidden;
}

#banner .ban li {
    height: 550px;
    text-align: center;
}

#banner img {
    width: 100%;
}

#banner .ban li.bs1 {
    background: url("../images/banner/McD_Main_Banner.jpg") no-repeat center center;
    background-size: cover;
}

#banner .ban li.bs2 {
    background: url("../images/banner/Troy_Ticket_Main_Banner.jpg") no-repeat center center;
    background-size: cover;
}

#banner .ban li.bs3 {
    background: url("../images/banner/Clova_Main_Banner1.jpg") no-repeat center center;
    background-size: cover;
}

#banner .ban li.bs4 {
    background: url("../images/banner/Clova_Main_Banner2.jpg") no-repeat center center;
    background-size: cover;
}

#banner .ban li.bs5 {
    background: url("../images/banner/Clova_Main_Banner3.jpg") no-repeat center center;
    background-size: cover;
}

/* Arrows */
#banner .slick-prev, #banner .slick-next {
    width: 100px;
    height: 90px;
    font-size: 0px;
    line-height: 0;
    display: block;
    border: 0;
    position: absolute;
    top: 50%;
    z-index: 999;
    transform: translate(0, -50%);
    transition: opacity 0.5s;
    opacity: .5;
    cursor: pointer;
    outline: none;
}

#banner .slick-prev:hover, #banner .slick-prev:focus, #banner .slick-next:hover, #banner .slick-next:focus {
    opacity: 1;
}

#banner .slick-prev {
    left: 0px;
    background: url('../images/Left_Arrow_Box.png') no-repeat center center;
}

#banner .slick-next {
    right: 0px;
    background: url('../images/Right_Arrow_Box.png') no-repeat center center;
}

/* Dots */
#banner .slick-dots {
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: block;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-250px);
}

#banner .slick-dots li {
    margin: 0px;
    padding: 0px;
    width: 100px;
    height: 3px;
    display: inline-block;
    background: #fff;
    position: relative;
    opacity: 0.2;
    cursor: pointer;
}

#banner .slick-dots li button {
    padding: 5px;
    display: block;
    color: transparent;
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
}

#banner .slick-dots li.slick-active {
    opacity: 1;
    color: #000;
}


/* ad */
#ad {
    height: 969px;
    position: relative;
    /* background: #ddd; */
}

#ad h2 {
    padding: 100px 0px;
    /* padding-bottom: 50px; */
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #ddd;
}

#ad .as {
    /* overflow: hidden; */
}

#ad .as li {
    height: 550px;
    text-align: center;
}

#ad .as li.as1 {
    background: url("../images/ad/Pizza_Ad.jpg") no-repeat center center;
    background-size: contain;
}

#ad .as li.as2 {
    background: url("../images/ad/Coupon_Ad.jpg") no-repeat center center;
    background-size: contain;
}

#ad .as li.as3 {
    background: url("../images/ad/Ferrari_Ad.jpg") no-repeat center center;
    background-size: contain;
}

#ad .as li.as4 {
    background: url("../images/ad/SaleEvent_Ad.jpg") no-repeat center center;
    background-size: contain;
}

#ad .as li.as5 {
    background: url("../images/ad/Yoga_Ad.jpg") no-repeat center center;
    background-size: contain;
}

/* Arrows */
#ad .slick-prev,#ad .slick-next {
    width: 20px;
    height: 20px;
    background: transparent;
    font-size: 0;
    line-height: 0;
    display: block;
    position: absolute;
    left: 50%;
    bottom: -80px;
    z-index: 999;
    transform: translate(-50%, -50%);
    cursor: pointer;
    border-top: 3px solid #ddd;
    border-right: 3px solid #ddd;
    border-left: 0;
    border-bottom: 0;
    outline: none;
    transition: opacity 0.5s;
}

#ad .slick-prev:hover,#ad .slick-prev:focus,#ad .slick-next:hover,#ad .slick-next:focus {
    opacity: 1;
}

#ad .slick-prev {
    margin-left: -50px;
    /* right: 50px; */
    transform: rotate(-135deg);
}

#ad .slick-next {
    margin-left: 50px;
    /* right: 10px; */
    transform: rotate(45deg);
}

/* #ad .slick-prev, #ad .slick-next {
    width: 70px;
    height: 70px;
    font-size: 0px;
    line-height: 0;
    display: block;
    border: 0;
    position: absolute;
    top: 50%;
    z-index: 999;
    transform: translate(0, -50%);
    transition: opacity 0.5s;
    opacity: .5;
    cursor: pointer;
    outline: none;
}

#ad .slick-prev:hover, #ad .slick-prev:focus, #ad .slick-next:hover, #ad .slick-next:focus {
    opacity: 1;
}

#ad .slick-prev {
    left: 0px;
    background: url('../images/Left_Arrow.png') no-repeat center center;
}

#ad .slick-next {
    right: 0px;
    background: url('../images/Right_Arrow.png') no-repeat center center;
} */

/* poster */
#poster {
    height: 969px;
    position: relative;
    /* background: #f1f1f1; */
}

#poster h2 {
    padding: 100px 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #fff;
}

#poster .pos {
    /* overflow: hidden; */
}

#poster .pos li {
    height: 550px;
    text-align: center;
}

#poster .pos li.ps1 {
    background: url("../images/poster/CocaCola_Poster.jpg") no-repeat center center;
    background-size: contain;
}

#poster .pos li.ps2 {
    background: url("../images/poster/Strawberry_Poster.jpg") no-repeat center center;
    background-size: contain;
}

#poster .pos li.ps3 {
    background: url("../images/poster/Model_Poster.jpg") no-repeat center center;
    background-size: contain;
}

#poster .pos li.ps4 {
    background: url("../images/poster/Vintage_Poster.jpg") no-repeat center center;
    background-size: contain;
}

#poster .pos li.ps5 {
    background: url("../images/poster/Radio_Poster.jpg") no-repeat center center;
    background-size: contain;
}

#poster .pos li.ps6 {
    background: url("../images/poster/Xylitol_Poster.jpg") no-repeat center center;
    background-size: contain;
}

/* Arrows */
#poster .slick-prev, #poster .slick-next {
    width: 100px;
    height: 100px;
    font-size: 0px;
    line-height: 0;
    display: block;
    border: 0;
    position: absolute;
    top: 50%;
    z-index: 999;
    transform: translate(0, -50%);
    transition: opacity 0.5s;
    opacity: .5;
    cursor: pointer;
    outline: none;
}

#poster .slick-prev:hover, #poster .slick-prev:focus, #poster .slick-next:hover, #poster .slick-next:focus {
    opacity: 1;
}

#poster .slick-prev {
    left: -100px;
    background: rgba(0, 0, 0, 0.3) url('../images/Left_Arrow.png') no-repeat center center;
}

#poster .slick-next {
    right: -100px;
    background: rgba(0, 0, 0, 0.3) url('../images/Right_Arrow.png') no-repeat center center;
}

/* footer */
#footer {
    padding: 150px 0px;
    background: #fff;
}

#footer .inner {
    text-align: center;
}

#footer .designedBy {
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

#footer .copy {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}