@charset "utf-8";

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#wrap {
    background: #000;
}

.resume img {
    margin: 0px auto;
    display: block;
    text-align: center;
    width: 100%;
}